header{
	background-color: #18e5c1;
	color: #022E4E;
	width: 100%;
	height: 80px;
	text-decoration: none;
	margin:0px;
}
header ul{
	list-style-type: none;
	overflow: hidden;
	margin:0px;
}
header h1{
	font-family: 'Futura';
	font-size: 36px;
	padding:15px 15px 10px 15px;
	margin:0px;
}
header li{
	float: left;
	padding-left:20px;
	padding-right: 20px;
	margin:0% 0% 0% 9%;
	margin-top: 25px;
	margin: 0;
	font-size: 20px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
body{
	background-color: #fbfbfb;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#body{
	width:80%;
	height: 675px;
	margin-top: 2%;
	margin-left:auto;
	margin-right:auto;
	postiion: fixed;
	display: block;
	padding-top:15px;
	padding-bottom: 15px;
	background-color: #5aff5a;
	cursor: url(img/mallet.gif),auto; 

}
#body:active{
	cursor: url(img/mallet2.gif),auto;
}
.mole{
	width: 200px;
	height: 100px;
	float: left;
	background-image: url(img/mole.gif);
	background-size: 200px;
}
form{
	margin-left: 35%;
	cursor: auto;
}
form input[type="submit"]{
	margin-top: 15px;
	margin-left: 15px;
	padding: 5px; 
    background-color: #022E4E;
    color: #fcfeb2;
    border: 0;
    border-radius: 5px;
}
form input[type="submit"]:hover{
	background-color: #3b22ab;
	color:#fcfeb2;
}
form input[type="text"]{
	font-size: 16px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	border: 1px solid grey;
	cursor: text;
}
table{
	width: 50%;
	color: #7D7D7D;
	font-size: 24px;
}
th{
	text-align: left;
	text-indent: 15px;
	font-weight: bolder;
	text-decoration: underline;

}
td {
	text-align: left;
	text-indent: 15px;
}